svg-icon {
	display: block;
	width: 200px;
	height: 200px;
	padding: 10px;
	margin: 100px auto 20px;
	box-sizing: content-box;
	background: #EEE;
}

svg-icon path {
	fill: #888;
}

h3 {
	margin: auto;
	color: #888;
	font-size: 1.6em;
	line-height: 2em;
	min-height: 2em;
	text-align: center;
}

.bg-demo {
	margin: 50px auto;
	width: 400px;
	height: 200px;
	background: #EEE url(../img/svg-backgrounds.svg#social-twitter-bg);
}
